@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 5px 10px;
  border: 1px solid #ebe4e4;
  background-color: #9f0e2d;
  color: #ebe4e4;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #ebe4e4;
  color: #0e1621;
}
:link,
:visited {
  text-decoration: none;
}
select {
  cursor: pointer;
}
ul {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
li {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 8px;
}
.text-center {
  text-align: center;
}
